
body {
    background-color: #dad7cd;
    font-family: 'Great Vibes', cursive;
}

main{
    width: 80%;
    margin: 0 auto;
}

header , footer {
    background-color: #a3b18a ;
    padding: 0.5rem;
    border-radius: 1em;
    border: 3px solid #344e41;
    text-align: center;
    margin-bottom: 1rem; 
}
.headnav , .footnav {
    padding-left: 0.5rem;
    background-color: #fefae0;
    border-radius: 1em;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.pagenav {
    padding: 1rem;
    background-color: #588157;
    border-radius: 1em;
    border-color: #344e41;
}

.maintop , .mainform {
    background-color: #a3b18a;
    padding: 0.5rem;
    border-radius: 1em;
    border: 3px solid #344e41;
    margin-bottom: 1rem;
    font-size: large;
}

.desc , .form {
    padding-left: 0.5rem;
    background-color: #fefae0;
    border-radius: 1em;
    padding: 1.5rem;
}

.mainform {
    font-size: 2rem;
}



