body {
    background-color: #f0ead2;

    /*
    can add code to change the font here

    */
}

main{
    margin-top: 1em;
    margin-bottom: 1em;
}

#mainnav .navbar-brand {
    font-size: 1.5rem;
}

#mainnav .dropdown-menu{
    background-color: #2f3e46; 
}

#mainnav{
    font-size: 1.5rem;
    background-color: #2f3e46;
}

.main-test .card {
    background-color:#52796f ;
    color: white;
}

.main-test .card .btn {
    background-color: #84a98c;
    color: white;
}

.card-header {
    font-weight: 600;
    font-size: 1.5em;  
}

.form-test {
    background-color: #52796f;
    padding: 1em;
    border-radius: 0.5em;
    color: white;  
}

.form-test .form-test-2{
    background-color: #84a98c ;
    border-color: #84a98c;
    color: white;
}

.form-test .search-label {
    background-color:#354f52;
    border-radius: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
}

/* 

 CSS HEX 
--ash-gray: #cad2c5ff;
--cambridge-blue: #84a98cff;
--hookers-green: #52796fff;
--dark-slate-gray: #354f52ff;
--charcoal: #2f3e46ff;

*/